script(async='', src='https://arc.io/widget.min.js#kqGtx3tp')
footer.mainfoot
  .mainfoot__content
    .container
    center
      .row
        .w-100
          h2.text-boldest.mt-3 Astra Bots
          p.text-damp.mb-3(style='font-weight:600;')
            | Astra Bots is a growing directory of Discord bots to enhance your server - Find the perfect bot for your needs and add it to your server easily, quickly and for free.
    hr
    center
      .container
        .alert.alert-dark.rounded-0.text-center(style='margin-bottom:20px;')
          | Website made and developed by LuckyTarget#5119
          br
          | Developing and innovating since 
          b 2021
