script(async='', src='https://arc.io/widget.min.js#kqGtx3tp')
footer.mainfoot
  .mainfoot__content
    .container
      .row
        .col-md-6.flexcen.mainfoot__border
          .w-100
            h2.text-boldest.mt-3 Lucky Bots
            p.text-damp.mb-3(style='font-weight:600;')
              | Lucky Bots is a growing directory of Discord bots to enhance your server - Find the perfect bot for your needs and add it to your server easily, quickly and for free.
        .col-md-3.mainfoot__border
          h4.text-boldest.mt-3 Links
          ul.mainfoot__listlink.mb-3
            li
              a.mainfoot__navlink(href='/join', target='_blank') Discord
            li
              a.mainfoot__navlink(href='https://www.youtube.com/watch?v=B9LeIRotWXA') Youtube
        .col-md-3
          h4.text-boldest.mt-3 Important
          ul.mainfoot__listlink.mb-3
            li
              a.mainfoot__navlink(href='/about') About
            li
              a.mainfoot__navlink(href='/privacy') Privacy Policy
    hr
    center
      .container
        .alert.alert-dark.rounded-0.text-center(style='margin-bottom:20px;')
          | Website made and developed by LuckyTarget#5119
          br
          | Developing and innovating since 
          b 2020

    hr
    center
      a.dmca-badge(href='//www.dmca.com/Protection/Status.aspx?ID=19367a82-4c50-4473-86ca-5bd54fdf294c&refurl=https://luckybots.tk/', title='DMCA.com Protection Status')
      img(src='https://images.dmca.com/Badges/dmca_protected_26_120.png?ID=19367a82-4c50-4473-86ca-5bd54fdf294c', alt='DMCA.com Protection Status')
      script(src='https://images.dmca.com/Badges/DMCABadgeHelper.min.js')
