footer.my-5.pt-5.text-muted.text-center.text-small(style='cursor:default;')
  .container
    hr
  p.mb-1(style='color:#DDD;') Copyright &copy; Astra 2021
  p.mb-1
    | Proudly developed by 
    a.text-muted(href='/join') Astra Development 
    |  and our amazing contributors!
  ul.list-inline
    li.list-inline-item
      a.prlink(href='/join') Support
  br
  br