script(async='', src='https://arc.io/widget.min.js#kqGtx3tp')
footer.mainfoot
  .mainfoot__content
    .container
    center
      .row
        .w-100
          h2.text-boldest.mt-3 Astra Bots
          p.text-damp.mb-3(style='font-weight:600;')
            | Astra Bots is a growing directory of Discord bots to enhance your server - Find the perfect bot for your needs and add it to your server easily, quickly and for free.
    hr
    center
      .container
        .alert.alert-dark.rounded-0.text-center(style='margin-bottom:20px;')
          | Website made and developed by LuckyTarget#5119
          br
          | Developing and innovating since 
          b 2020

#copyrt
  a.copyrighted-badge(title='Copyrighted.com Registered & Protected', target='_blank', href='https://www.copyrighted.com/website/DoWFPhuvlSU9xh0M')
    img(alt='Copyrighted.com Registered & Protected', border='0', width='125', height='25', srcset='https://static.copyrighted.com/badges/125x25/02_2_2x.png 2x', src='https://static.copyrighted.com/badges/125x25/02_2.png')
  script(src='https://static.copyrighted.com/badges/helper.js')
.alert.text-center.cookiealert(style='background:#303030;', role='alert')
  b Do you like cookies?
  |  We use cookies to ensure you get the best experience on our website.
  button.btn.btn-blue.btn-sm.acceptcookies
    | I accept