footer.my-5.pt-5.text-muted.text-center.text-small(style='cursor:default;')
  .container
    hr
  p.mb-1(style='color:#DDD;') Copyright &copy; Astra 2021
  p.mb-1
    | Proudly developed by 
    a.text-muted(href='https://discord.gg/sQQFSnQhdt') Astra Development
  ul.list-inline
    li.list-inline-item
      a.prlink(href='https://discord.gg/sQQFSnQhdt') Support

#google_translate_element
  script(type='text/javascript').
    function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
br
br
script(type='text/javascript', src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
a(href='https://www.dmca.com/compliance/astrabots.xyz', title='DMCA Compliance information for astrabots.xyz')
img(src='https://www.dmca.com/img/dmca-compliant-grayscale.png')


a.dmca-badge(href='//www.dmca.com/Protection/Status.aspx?ID=19367a82-4c50-4473-86ca-5bd54fdf294c', title='DMCA.com Protection Status')
  img(src='https://images.dmca.com/Badges/dmca_protected_26_120.png?ID=19367a82-4c50-4473-86ca-5bd54fdf294c', alt='DMCA.com Protection Status')
script(src='https://images.dmca.com/Badges/DMCABadgeHelper.min.js')

style.
    #button {
    display: inline-block;
    background-color: grey;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    }
    #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
    }
    #button:hover {
    cursor: pointer;
    background-color: #333;
    }
    #button:active {
    background-color: #555;
    }
    #button.show {
    opacity: 1;
    visibility: visible;
    }
    /* Styles for the content section */
    .content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
    }
    @media (min-width: 500px) {
    .content {
    width: 43%;
    }
    #button {
    margin: 30px;
    }
    }
    .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
    }
    .content h3 {
    font-style: italic;
    color: #96a2a7;
    }
a#button
script.
  var btn = $('#button');
  $(window).scroll(function() {
  if ($(window).scrollTop() > 300) {
  btn.addClass('show');
  } else {
  btn.removeClass('show');
  }
  });
  btn.on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({scrollTop:0}, '300');
  });
