head
  meta(property='og:title', content='Astra Bot List')
  meta(name='twitter:title', content='Astra Bot List')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(property='og:description', content='Find the best Discord bots for your server with our discord bot list. Browse information on each bot and vote for your favourites.')
  meta(name='description', content='Find the best Discord bots for your server with our discord bot list. Browse information on each bot and vote for your favourites.')
  meta(property='twitter:description', content='Find the best Discord bots for your server with our discord bot list. Browse information on each bot and vote for your favourites.')
  meta(name='og:image', content='/assets/img/banner.png')
  meta(name='og:site_name', content='Astra Bots')
  meta(name='keywords', content='bots, discord, discord bots, bot, discord bot, Astra, Astrabots, Astra Bots, the Astra, find, find bots')
  meta(name='twitter:image', content='/assets/img/banner.png')
  meta(name='twitter:card', content='summary_large_image')
  script(type='text/javascript', async='', src='https://www.gstatic.com/recaptcha/releases/dpzVjBAupwRfx3UzvXRnnAKb/recaptcha__en.js', crossorigin='anonymous', integrity='sha384-ZPSKvKG0WipeaRQyUewUQ0wMawOWTmw32n5nBKnR21FA4MBKHzMEW63JHSOUpp32')
  script(type='text/javascript', async='', src='https://www.google-analytics.com/analytics.js')
  meta(name='theme-color', content='#3366ff')
  meta(property='og:type', content='website')
  meta(name='keywords', content='bots, discord, discord bots, bot, discord bot, Astra, Astrabots, Astrabots, find, find bots')
  meta(name='language', content='EN')
  meta(name='distribution', content='global')
  meta(name='rating', content='general')
  meta(name='PreMiD_details', content='general.viewHome')
  meta(name='PreMiD_smallImageText', content='Page')
  meta(name='PreMiD_smallImageKey', content='img_icon_page')

head

    //- Font from google fonts
    link(href='https://fonts.googleapis.com/icon?family=Markazi+Text' rel='stylesheet')
    
    //- CKEDITOR 4 for Description editing in HTML
    script(src='https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js')

    //- jQuery
    script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js')

    //- Noty
    script(src='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css' rel='stylesheet')

    // Pixel Code for https://www.widgetsquad.com/
    script(async='', src='https://www.widgetsquad.com/pixel/naqbklm9ikm2xbwokngvpbdnptmlb4gl')

    //- FontAwesome
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css' rel='stylesheet')
    
    script(src='/assets/js/main.js')
    script(src='/assets/js/cards.js')

    //- Import SWAL
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
    link(href='https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css' rel='stylesheet')

    
    title Astra &mdash; Discord Bot List
    link(rel='icon', href='/assets/img/logo.png')
