head(cfapps-selector='head')
  script(src="/assets/js/me.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
  meta(property='og:url', content='https://astrabots.xyz/fr?updateLanguage=true')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js')

nav.navbar.navbar-expand-lg.navbar-dark.p-1.pl-4.pr-4.mainnav(style='background:#111111;')
  .container
    a.navbar-brand.logoholder(href='/')
      img#logoimg(style='height:55px; width:55px;' src='/assets/img/logo.png' alt='VB-Logo')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarColor02' aria-controls='navbarColor02' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarColor02.collapse.navbar-collapse
      ul.navbar-nav.mainlink.mr-auto
        li.nav-item
          a.nav-link.nvhome(href='/')
            i.fad.fa-home.mr-1
            |  Home
        //
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fad fa-search mr-1"></i> Search</a>
          <div class="dropdown-menu fade">
          <a class="dropdown-item" href="/bot/search">Search Bots</a>
          <a class="dropdown-item" href="/pack/search">Search Packs</a>
          </div>
          </li>
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false')
            i.fad.fa-paper-plane.mr-1
            |  Submit
          .dropdown-menu.fade.fade-up
            a.dropdown-item(href='/add')
              i.fad.fa-robot.mr-2
              |  Add Bot
        li.nav-item
          a.nav-link(href='/join')
            i.fab.fa-discord.mr-1
            |  Discord
      ul.nav.navbar-nav.navbar-right
       if (req.user)
        li.nav-item.dropdown
          a.nav-link(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false')
            img.nav-userimg(src=`https://cdn.discordapp.com/avatars/${req.user.id}/${req.user.avatar}`)
            b #{ req.user.username}
            small ##{req.user.discriminator}
          .dropdown-menu.dropdown-menu-right.fade.fade-up(style='min-width:200px;')
            a.dropdown-item(href='/me')
              i.fad.fa-tachometer-alt.mr-2
              |  Dashboard
            .dropdown-divider
            a.dropdown-item.dropdown-danger(href='/logout')
              i.fad.fa-sign-out.mr-2
              |  Logout
       else
            li.nav-item
             a.nav-link(href='/login')
              i.fab.fa-user.mr-1
              |  Login